{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>etcdAdmin</title>
	<link rel="stylesheet" type="text/css" href="{% static "assets/semantic/semantic.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/common.css" %}">
	{% block extra-css %}{% endblock %}
</head>
<body>
    <div class="header">
        <div class="container">
            <ul class="header-nav">
                <li class="header-nav-item logo"><a href="/" class="header-nav-link">etcdAdmin</a></li>
                <li class="header-nav-item"><a href="#" class="header-nav-link active">KeyMap</a></li>
                <li class="header-nav-item"><a href="#" class="header-nav-link">Reset API</a></li>
                <li class="header-nav-item"><a href="#" class="header-nav-link">Status</a></li>
            </ul>
            <div class="ui category search">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search keys...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
            <div class="user-profile">
                <div class="ui dropdown item">
                    <div class="text">Admin</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">
                            <a href="#">Settings</a>
                        </div>
                        <div class="divider"></div>
                        <div class="item">Logout</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block ec-guide %} {% endblock %}
	<div class="main">
        <div class="container">
        {% block content %} {% endblock %}
        </div>
	</div>
    <div class="container">
        <div class="footer">
            <p>Copyright &copy; <a href="//k8scn.org">k8scn.org</a> - Free & Open Source (MIT)</p>
        </div>
    </div>
</body>
<script type="text/javascript" src="{% static "assets/js/jquery-2.2.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/semantic/semantic.min.js" %}"></script>

<script type="text/javascript">
$('.ui.dropdown')
  .dropdown();
</script>
{% block extra-js %} {% endblock %}
</html>