{% extends 'base.html' %}
{% load get_extras %}

{% block ec-guide %}
<div class="nav-guide">
    <div class="ui breadcrumb">
        <a class="section"><a href="{% url 'ecs_list' %}">Etcd Cluster List</a></a>
        <i class="right angle icon divider"></i>
        <div class="active section">{{ ec.name }}</div>
        <i class="right angle icon divider"></i>
        <div class="active section">status</div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="etcd-cluster-dirs">
	<p>{{ content }}</p>
	<p>{{ content.keys }}</p>
	{% for key in content.keys %}
	<p>{{ key }} - {{ content|get_item:key }}</p>
	{% endfor %}
	<p>{{ content|get_item:"getsSuccess" }}</p>
</div>
{% endblock %}