{% extends 'base.html' %}
{% load get_extras %}

{% block ec-guide %}
<div class="nav-guide">
    <div class="container">
        <div class="ui breadcrumb">
            <a class="section"><a href="/">Etcd Cluster List</a></a>
            <i class="right angle icon divider"></i>
            <div class="active section">EC-0001@192.168.56.2:4001</div>
            <i class="right angle icon divider"></i>
            <a class="section"><a href="/ec-0001/keys/set/" title="add a new key or dir"><i class="plus icon"></i></a></a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="etcd-cluster-dirs">
	<p>{{ content }}</p>
	<p>{{ content.keys }}</p>
	{% for key in content.keys %}
	<p>{{ key }} - {{ content|get_item:key }}</p>
	{% endfor %}
	<p>{{ content|get_item:"getsSuccess" }}</p>
</div>
{% endblock %}