{% extends 'base.html' %}
{% load static %}
{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static "assets/css/loader.css" %}">
{% endblock %}
{% block ec-guide %}
<div class="nav-guide">
    <div class="ui breadcrumb">
        <a class="section"><a href="{% url 'ecs_list' %}">Etcd Cluster List</a></a>
        <i class="right angle icon divider"></i>
        <div class="active section">{{ ec.name }}</div>
        <i class="right angle icon divider"></i>
        <a class="section"><a href="/ec-{{ ec.serial_number }}/keys/set/" title="add a new key or dir"><i class="plus icon"></i></a></a>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="etcd-cluster-dirs">
	<div class="se-pre-con"></div>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <table class="ui very compact table">
        <thead>
            <tr>
                <th>Num</th>
                <th>Keys</th>
                <th>Values</th>
                <th>TTL</th>
                <th>Action</th>
            </tr>
        </thead>
      <tbody>
        {% for dir in dirs.children %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ dir.key }}</td>
          <td>{{ dir.value }}</td>
          <td>{{ dir.ttl|default_if_none:"Never Expire" }}</td>
          <td>
          	<a href="/ec-{{ ec.serial_number }}/keys/update?key={{ dir.key }}"><i class="edit icon"></i></a>
          	<a href="/ec-{{ ec.serial_number }}/keys/del?key={{ dir.key }}"><i class="remove icon"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
            </span>

            {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

</div>
{% endblock %}

{% block extra-js %}
<script type="text/javascript" src="{% static "assets/js/modernizr.js" %}"></script>
<script type="text/javascript">
$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>
{% endblock %}