{% extends 'base.html' %}

{% block content %}


<div class="nav-guide">
    <div class="container">
        <div class="ui breadcrumb">
            <a class="section">Etcd Cluster List</a>
            <i class="right angle icon divider"></i>
            <a class="section"><a href="/cluster/add/" title="add a new etcd cluster"><i class="plus icon"></i></a></a>
        </div>
    </div>
</div>
<div class="etcd-cluster-list">
    {% ifequal ecs.count 0 %}
    <center class="etcd-cluster-count-nop"><h2>First step, you must <a href="#">add a etcd cluster.</a></h2></center>
    {% else %}
    <table class="ui very compact table">
        <thead>
            <tr>
                <th>Num</th>
                <th>Protocal</th>
                <th>Endpoints</th>
                <th>Authentication</th>
                <th>Status</th>
                <th>CreateBy</th>
                <th>ModifiedBy</th>
                <th>Action</th>
            </tr>
        </thead>
      <tbody>
        {% for ec in ecs %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ ec.get_protocol_display }}</td>
          <td><a href="/ec-{{ ec.serial_number }}/keys/">http://{{ ec.cluster_nodes }}:2379?tls=flase</a></td>
          <td>False</td>
          <td>ON</td>
          <td>{{ ec.created_at|date:'Y-m-d H:i' }}</td>
          <td>{{ ec.updated_at|date:'Y-m-d H:i' }}</td>
          <td><a href="#"><i class="edit icon"></i></a> / <a href="#"><i class="remove icon"></i></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endifequal %}
</div>
{% endblock %}
