{% extends 'base.html' %}

{% block ec-guide %} 
<div class="nav-guide">
    <div class="ui breadcrumb">
        <a class="section" href="/">Etcd Cluster List</a>
        <i class="right angle icon divider"></i>
        <div class="active section"><a href="/ec-0001/keys/">EC-0001@192.168.56.2:4001</a></div>
        <i class="right angle icon divider"></i>
        <div class="active section">Add a New Node</div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="add-new-node">
  <form class="ui form" action="" method="POST">
    {% csrf_token %}
      <div class="required eight wide field">
          <label>Cluster Name</label>
          <input type="text" placeholder="EC_N001" name="ec_name">
      </div>
      <div class="required eight wide field">
        <label>Cluster Prefix</label>
          <input type="text" placeholder="default is /" name="ec_prefix">
      </div>
      <div class="required field">
          <label>Endpoint URL</label>
          <input type="text" name="last-name" placeholder="http://192.168.56.2:2379 or https://192.168.56.2:2379" name="ec_endpoint">
      </div>
      <button class="ui button" type="submit">Submit</button>
  </form>
</div>
{% endblock %}

{% block extra-js %}
<script type="text/javascript">
$('.ui.radio.checkbox')
  .checkbox()
</script>
{% endblock %}
;