@font-face {
    font-family: MrsSheppards;
    src: url(../font/MrsSheppards-Regular.ttf);
}
.container {
    border-top: 0px;
    margin: 0px 10%;
/*    border-left: 1px solid #eee;
    border-right: 1px solid #eee;*/
}
.header {
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 0px 0px rgba(127, 118, 114, 0.08), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.header-nav {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.header-nav-item {
    float: left;
    margin-right: 45px;
}
.header-nav-link {
    display: block;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}
.user-profile {
    position: relative;
    float: right;
}
.ui.dropdown>.text {
    padding-top: 4px;
}
.ui.dropdown>.dropdown.icon {
    margin: 0 0 0 4px;
}
.ui.search {
    float: left;
}
.ui.input input {
    padding: 5px 12px;
}
.logo {
    margin-left: 0;
}
.logo a {
    font-size: 34px;
    font-family: MrsSheppards;
    padding-left: 0px;
}
.logo a:hover {
    color: #333;
}
.left {
    float: left !important;
    margin-left: 0;
}
a.active {
    color: #2185d0;
}
.nav-guide {
    margin: 0px;
    padding: 16px 0 10px;
}
.nav-guide ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 30px;
}
.nav-guide ul li {
    float: left;
    margin: 5px 0;
}
.nav-guide ul li a {
    font-size: 14px;
    margin-top: 6px;
    padding: 4px 0;
}
.main {

}
.ui.table {
    border-radius: 0;
    border: 0px;
}
.ui.table thead th {
    background: transparent;
}


/* home */
.etcd-cluster-count-nop {
    margin-top: 85px;
    color: #BBC2C5;
}

/* add etcd cluster*/
.add-etcd-cluster, .add-new-node {
    margin-top: 30px;
}

/* footer */
.footer {
    overflow: hidden;
    text-align: center;
}
.footer .container {
    border-top: 1px solid rgba(34,36,38,.1);
    padding-bottom: 45px;
}

.footer p {
    padding: 10px;
    font-size: 12px;
}

/* common */
.etcd-cluster-list, .etcd-cluster-dirs, .add-etcd-cluster, .add-new-node {
    min-height: 446px;
}
